.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: rgb(230, 212, 136);

  border-bottom: black;
  border-width: 3px;
  border-bottom-style:solid;

  display:flex;
  align-items: center;
  justify-content:space-between;

  padding: 15px;
  font-size: large;
}

.searchBar {
  align-items: center;
}

#directions {
  width: 80%;
  height: 50px;
}

#error-message {
  color: red;
}

.mainPage {
  align-items: center;
  align-content: center;
}

.logo {
  text-align: left;
  vertical-align: middle;
  margin-right:20px;
}

#logo {
  width: 150px;
}

#searchbar {
  vertical-align: middle;
  width:25%;
  height:12pt;
}

#add-recipe {
  background-color: greenyellow;
  outline-style: solid;
  outline-color:black;
  outline-width: 1px;

  height:40px;
  vertical-align: center;
}

#recipe-inst {
  width:80%;
  height:50px;
  
}
