.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  width: 100vw;
  height:100vh;
  display:block;
}

.header {
  background-color: rgb(230, 212, 136);

  border-bottom: black;
  border-width: 3px;
  border-bottom-style:solid;

  display:flex;
  align-items: center;
  justify-content:space-between;

  padding: 15px;
  font-size: large;
  width: 100%;
}

.header-home {
  color:palevioletred;
  margin-left: 5%;
  font-size: 30pt;
}

.add-recipe-button {
  margin-right: 10%;
}

#searchpage {
  width: 100%;
  height: 100%;
  display:block;
}

#searchBar {
  width: 100%;
  height: 30%;
  display:flex;
  
}
#searchTitle {
  position:absolute;
  margin-bottom: 0px;
}

#searchInput {
  margin: auto;
  align-items: center;
  width:100%;
  margin-bottom:0px;

}
#recipes, #ingredients, #both {
  margin-left:45%;
}

#searchResults {
  width:70%;
  margin:auto;
  margin-bottom:50px;
}

.recipeListing, .ingredientListing{
  width:fit-content;
  margin-left:20%;
}

#text-input {
  margin-left:20%;
  width:60%;
}



#directions {
  width: 80%;
  height: 50px;
}

#error-message {
  color: red;
}

.mainPage {
  align-items: center;
  align-content: center;
}

.logo {
  text-align: left;
  vertical-align: middle;
  margin-right:20px;
}

#logo {
  width: 150px;
}

#searchbar {
  vertical-align: middle;
  width:25%;
  height:12pt;
}

#add-recipe {
  background-color: greenyellow;
  outline-style: solid;
  outline-color:black;
  outline-width: 1px;

  height:40px;
  vertical-align: center;
}

#recipe-inst {
  width:80%;
  height:50px;
  
}
